@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* head font */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); /* body font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap'); /* link font */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap'); /* footer font */


* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    background-color: #f5f5f5;
    font-family: Raleway;
    font-size: 16px;
}

/* Main Styles */
h1 {
    color:steelblue;
}
img {
    width: 80%;
    border: 4px solid steelblue;
}
.logo {
    width: 50px;
    /* margin-bottom: 50px; */
}
#logo_link {
    padding-top: 5px;
}
.social a img {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.para{
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 10px;
    width: 80%;
}
.home-title {
    font-size: 80px;
    margin-bottom: 50px;
    margin-top: 10px;
}
.content{
    max-width:1600px;
    margin: 0 auto;
}
#hero-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
#hero-img {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    border: none;
}
#hero-msg {
    grid-column: 1/2;
    grid-row: 1/2;

}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-msg h4 {
    color: #fff;
}
.button-box {
    text-align: center;
}
.card-img {
    margin-top: 100px;
    border-radius: 10px;
}
.rapids-card {
    margin-bottom: 100px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 100%;
    background-color: #ff6347;
    margin-bottom: 50px;
    grid-column: 1/3;
    grid-row: 1/2;
}
.mountains {
    /* margin-bottom: 50px; */
    grid-column: 1/2;
    grid-row: 1/2; 
    justify-self: end;
    align-self: center;
    margin-right: -20px;
}
header {
    background-color: #ff6347;
    /* padding-bottom: 20px; */
    /* width: 100%; */
    display: flex;
    padding-left: 50px;
    align-items: center;
    width: 100%;
}
footer {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /* justify-content: center; */
}
nav a {
    text-decoration: none;
    padding: 35px;
    color: #fff;
    font-family: Quicksand;
}
nav a:hover {
    text-align: center;
    background-color: #f5f5f5;
    color: #000;
    text-decoration: none;
}
.book, .join {
    background-color: rgba(145, 132, 80, 0.2);
    border: 1px solid;
    padding: 15px 30px;
    color: #ff6347;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Quicksand;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    color: #000;
    transform: scale()
}
.msg {
    background-color: #918450;
    padding: 35px;
    line-height: 1.5em;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 300px;
    margin-left: -20px;
    /* height: 300px; */
    align-self: center;
}
.msg h2 {
    color:#918450;
}
.msg p {
    color: #000;
    padding-bottom: 15px;
}
footer {
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: #ff6347;
    text-decoration: none;
    font-family: Quicksand;
}
footer p a:hover {
    text-decoration: underline;
}
footer p {
    font-size: 1.2em;
    font-family: "Fuzzy Bubbles";
    margin-bottom: 10px;
}
.footer a:hover {
    background-color: #fff;
    color: #000;
}
footer .social img {
    padding-top: 15px;
}
h4 {
    color: #000;
    font-size: 30px;
    margin-bottom: 50px;
}
.grid {
    width: 80%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.sgrid {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}
@media only screen and (max-width: 60rem) {
    body {
        display: block;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    #hero-box {
       display: block;
    }
    #hero-msg h1, #hero-msg h4 {
        text-align: center;
        font-size: 24px;
    }
    #hero-msg h4 {
        color: #000;
    }
    .grid {
        display: block;
    }
    #background {
        display: none;
    }
    .sgrid {
        display: block;
    }
    footer {
        display: block;
    }
    .msg {
        margin: 0 auto;
    }
    .card-img {
        margin-top: 10px;
    }
    header {
        width: 100%;
        padding-left: 0;
    }
    .logo {
        margin-left: 30px;
        width: 100px;
    }

}